<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신청관리</title>
</head>
<body>
    <h1>신청 관리</h1>
    <form action="/" method="post">
        사용자 ID:&nbsp;<input type="text" name="user_id">
        <input type="submit" value="검색">
        <input type="reset" value="취소">
    </form>
    
    <fieldset> 
        <!--
            uid int NOT NULL AUTO_INCREMENT,
            user_school varchar(15), 
            user_num varchar(12),
            user_name varchar(20),
            user_department varchar(15),
            user_grade char(1),
            user_id varchar(21),
            user_pw varchar(17),
            user_attend_status char(1),
            user_phone varchar(15),
            user_join_date date,
            user_login_date datetime,
            user_status char(1),
            user_auth char(1),
        -->
        <legend>사용자 정보</legend>
        
    </fieldset>

</body>
</html>