<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';>
    <title>Main</title>
</head>
<body>
    <h1>메인페이지</h1>
</body>
<% if(login_user_id == '') { %>
    <button onclick="location.href='/login'">로그인</button>
    <button onclick="location.href='/signup'">회원가입</button>
<% } else { %>
    <%= login_user_id %>님, 환영합니다!<br>
    <button onclick="location.href='/'">기능1</button>
    <button onclick="location.href='/'">기능2</button>
    <button onclick="location.href='/'">기능3</button>
    <% } %> 

</html>