
<head>
  <style>
    @font-face {
      font-family: 'Cafe24Ohsquareair';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    *, h3 {
      font-family: 'NanumSquareRound';
    }
    h2, .navbar-brand{
      font-family: 'Cafe24Ohsquareair';
    }
  </style>
</head>
<!-- ======= Navbar ======= -->
<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-4 d-none d-md-block">
          <h3>팀 소개</h3>
          <p>Beharbor는 동아대학교 컴퓨터공학과 학생들로 이루어져있는 서버 관련 업무 담당팀입니다. 문의사항이 있으시면 이메일을 보내거나 동아대학교 S06-605를 방문해주세요! <br> <a href="mailto:2024214@donga.ac.kr">2024214@donga.ac.kr</a></p>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">
          <div class="tweet d-flex">
            <span class="bi bi-stars text-white mt-2 mr-3"></span>
            <div>
              <p><em>Beharbor 비품 대여 플랫폼을 통해 비품 대여를 신청하고 이력을 관리할 수 있습니다. <br> 해당 서비스는 가입된 회원만 이용할 수 있습니다.</em></p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <ul class="custom-menu">
            <% if(login_user_id === undefined) { %>
              <li><a href="/login">로그인</a></li>
              <li><a href="/signup">회원가입</a></li>
            <% } else { %>
              <li><a href="/logout">로그아웃</a></li>
              <li><a href="/privacy_pw">비밀번호 변경</a></li>
              <li><a href="/rental_status">대여 이력</a></li>
                <% if (login_user_auth == '1' || login_user_auth == '2') { %>
                  <li><a href="/admin_signup">회원가입 관리</a></li>
                  <li><a href="/admin_rentalmanage">대여 신청 관리</a></li>
                  <li><a href="/admin_userstatus">회원 관리</a></li>
                  <li><a href="/database">비품 관리</a></li>
            <% }} %>
            <!-- 추후에 추가할 예정
            <li><a href="">이용안내</a></li>
            <li><a href="">공지사항</a></li>
            <li><a href="">팀 소개</a></li> -->
          </ul>
        </div>
      </div>

    </div>
</div>

<nav class="navbar navbar-light custom-navbar">
<div class="container">
    <a class="navbar-brand" href="/">Beharbor</a>
    <% if (login_user_id != undefined) { %>
      <span class="badge text-bg-light"><%=login_user_id%></span>
    <% } %>
    <a href="/" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
      <span></span>
    </a>
</div>
</nav>